@import url(https://fonts.googleapis.com/css?family=Lobster);

* {
    /* border: solid red 2px; */
    margin: 0;
    padding: 0;
}

.body-wrapper {
    width: 50%;
    min-width: 200px;
    height: 100vh;
    min-height: 500px;

    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-stripe {
    height: 50px;
    width: 100%;
    background-color: rgba(62, 67, 107, 0.308);
}

#welcome {
    text-align: center;
    font-size: 30px;
}

#navigation {
    width: 100%;
    margin-top: auto;
}

#navigation>ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
}

.navigation-subsection {
    text-align: center;
    font-size: 30px;
    background: rgba(99, 97, 97, 0.13);
}

.navigation-subsection>em {
    font-weight: 800;
    font-style: normal;
}

#navigation a {
    display: block;
    padding: 1px;
    margin: 1px;
    height: 50px;

    text-align: center;
    text-decoration: none;

    border-radius: 2px;

    background: rgba(47, 69, 90, 0.5);
    font-family: 'Lobster', cursive, serif;
    font-size: 30px;
    text-shadow: 2px 2px 2px #1c1c1c;
    color: #e6e6e6;
}

#navigation a:visited {
    color: #afa3a3a9;
}

#navigation a:hover {
    background: rgba(99, 97, 97, 0.13);
    /* background: #929292; */
}