:root {
    --reseda-green: #797d62ff;
    --moss-green: #9b9b7aff;
    --khaki: #baa587ff;
    --desert-sand: #d9ae94ff;
    --peach-yellow: #f1dca7ff;
    --sunglow: #ffcb69ff;
    --earth-yellow: #e8ac65ff;
    --persian-orange: #d08c60ff;
    --chamoisee: #b58463ff;
    --beaver: #997b66ff;
}

* {
    /* border: solid red 2px; */
    margin: 0;
    padding: 0;
}

.body-wrapper {
    width: 80%;
    min-width: 600px;
    max-width: 1000px;
    height: 100vh;
    min-height: 500px;

    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-stripe {
    height: 50px;
    width: 100%;
    background-color: var(--khaki);
}

#welcome {
    text-align: center;
    font-size: 2em;
}

#navigation {
    width: 100%;
    margin-top: auto;
}

#navigation>ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
}

.navigation-subsection {
    text-align: center;
    font-size: 2em;
    background: var(--moss-green);
    margin-bottom: 5px;
    z-index: 0;
}

.navigation-subsection>em {
    font-weight: 800;
    font-style: normal;
    color: var(--earth-yellow);
}

@keyframes description-hide {
    0% {
        width: 25%;
    }

    100% {
        width: 100%;
    }

}

.navigation-link-wrapper {
    text-align: center;
    margin-bottom: 1px;
}

.navigation-link-wrapper a {
    text-decoration: none;
}

.navigation-link-wrapper::after {
    content: "";
    clear: both;
    display: table;
}

.navigation-link-static {
    display: block;
    position: relative;
    height: 50px;
    width: 100%;

    background: var(--chamoisee);
    color: #ffffff;
    /*var(--persian-orange);*/
    font-weight: 600;
    font-size: 1em;

    z-index: 2;
}

.navigation-link {
    display: block;
    position: relative;
    height: 50px;
    width: 100%;

    background: var(--reseda-green);
    color: #ffffff;
    /*var(--persian-orange);*/
    font-weight: 600;
    font-size: 1em;

    animation-name: description-hide;
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 2;
}

.navigation-link-wrapper p.link-description {
    position: relative;
    float: left;
    text-align: right;
    vertical-align: middle;
    color: #ffffff;
    left: 40%;
    top: -50px;
    width: 60%;
    height: 0px;

    font-size: 0.68em;
    z-index: 1;

}

@keyframes description-reveal {
    0% {
        width: 100%;
    }

    100% {
        width: 40%;
    }

}

.navigation-link-wrapper:hover .navigation-link {
    /* text-align: left; */
    animation-name: description-reveal;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}