body {
    background: #000000;
    background-image: url("assets/bg-space.jpg");
}

#main {
    display: flex;
    flex-direction: row;
    /* background-color: #000000; */
}

#halloffame {
    /* border: solid red 1px; */
    width: 30%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
    box-shadow: inset 0 0 80px #9029e457, 0 0 5px #bf77fad0;
    border-radius: 15px;
    height: 95vh;
}

#halloffame>h1 {
    width: 60%;
    min-width: 300px;
    padding: auto;
    margin: auto;
    margin-top: 20px;
    height: 42px;

    color: #6f00ff;
    text-align: center;
    vertical-align: text-bottom;
    font-family: "VT323", Sofia;
    font-size: 52px;
    font-weight: 900;
}

#halloffame>ol {
    display: block;
    padding: 0;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height: 77%;
    overflow: scroll;
}

.halloffame-entry {
    list-style: none;
    padding: 10px;
    margin: 5px;
    margin-top: 11px;
    /* height: 32px; */
    box-shadow: inset 0 0 40px #c529e41c, 0 0 2px #e429e457;
    border-radius: 9px;

    color: #e956d5d5;
    text-align: center;
    font-family: "VT323", Sofia;
    font-size: 22px;

}

@keyframes halloffame-own-entry-blink {
    0% {
        color: #c529e41c;
    }

    25% {
        color: #351c04;
    }

    50% {
        color: #c529e41c;
    }

    75% {
        color: #351c04;
    }

    100% {
        color: #c529e41c;
    }
}

.halloffame-entry-own {
    box-shadow: inset 0 0 40px #c529e41c, 0 0 2px #e429e457;
    font-weight: 900;
    animation-name: halloffame-own-entry-blink;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

form.halloffame-entry {
    box-shadow: inset 0 0 0 0, 0 0 0 0;
    position: relative;
    margin: auto;
    top: 0%;
    width: 90%;
    text-align: right;
}

form.halloffame-entry > input {
    border: solid 1px;
    background-color: transparent;
    color: #e956d5d5;
    font-size: 24px;
}

.halloffame-entry > p {
    margin: 0;
}

.halloffame-entry-username {
    color: #ae56e9d5;
}

#canvasContainer {
    width: 800px;
    margin: auto;
    position: relative;
}

.btn-neon {
    border: transparent;
    background-color: transparent;
    box-shadow: none;
    color: #565656;
    text-shadow: 0 0 0px transparent;
    font-size: 1.6rem;
    transition: 2.5s;
    -webkit-transition: 2.5s;
    padding: 15px 30px;
    line-height: 40px;
    margin: 0;
    border-radius: 25px;
    cursor: pointer;

}

.btn-neon:hover {
    /* border: 2px solid #1c2166; */
    transition: 0.8s;
    -webkit-transition: 0.8s;
    color: #15bfd6;
    text-shadow: 0 0 25px #23cccc;
    box-shadow: inset 0 0 25px #23cccc, 0 0 15px #23cccc;
}

.btn-neon>input {
    border: solid #45595c3b 1px;
    border-radius: 10px;
    background-color: transparent;
    font-size: 2.6rem;
    color: #127e81;
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 70%;
}

.btn-neon>input:hover {
    background-color: #1652635e;
    box-shadow: inset 0 0 25px #106868, 0 0 25px #000000;
    transition: .8s;
}

.btn-neon-scarlet:hover {
    transition: 0.8s;
    -webkit-transition: 0.8s;
    color: #8a0606;
    text-shadow: 0 0 45px #8a0606;
    box-shadow: inset 0 0 45px #8a0606, 0 0 25px #000000;
}

.btn-neon>p {
    font-size: 21px;
    margin: 0;
    margin-bottom: 2px;
    text-align: center;
}

.btn-center {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: absolute;
    width: 400px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -200px;
}

.btn-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: absolute;
    width: 400px;
    height: 100px;
    bottom: 0%;
    left: 50%;
    margin-top: -60px;
    margin-left: -200px;
}

.levels-container-root {
    /* border: solid red; */
    width: 60%;
    margin: auto;

    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0%;
    left: 20%;
}

.levels-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}

.btn-level {
    font-size: 1rem;
    flex-grow: 1;
    margin: 10px
}

@keyframes leaderboard-blink {
    0% {
        box-shadow: inset 0 0 60px #e48c2957, 0 0 5px #fabd77d0;
    }

    56% {
        box-shadow: inset 0 0 80px #e48c2957, 0 0 5px #fabd77d0;
    }

    68% {
        box-shadow: inset 0 0 50px #e48c2957, 0 0 5px #fabd77d0;
    }

    75% {
        box-shadow: inset 0 0 90px #e48c2957, 0 0 5px #fabd77d0;
    }

    96% {
        box-shadow: inset 0 0 80px #e48c2957, 0 0 5px #fabd77d0;
    }

    /* 98% { */
    /* box-shadow: inset 0 0 80px #e48d295d, 0 0 5px #fabd77d0; */
    /* } */
    98% {
        box-shadow: inset 0 0 0px #e48d295d, 0 0 5px #fabd77d0;
    }

    100% {
        box-shadow: inset 0 0 80px #e48c2957, 0 0 5px #fabd77d0;
    }
}

@keyframes leaderboard-text-blink {
    0% {
        color: #ff7b00;
    }

    95% {
        color: #ff8615;
    }

    96% {
        color: #351c04;
    }

    98% {
        color: #ff8615;
    }

    99% {
        color: #351c04;
    }

    100% {
        color: #ffb067;
    }
}

#leaderboard {
    width: 30%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
    box-shadow: inset 0 0 80px #e48c2957, 0 0 5px #fabd77d0;
    border-radius: 15px;
    animation-name: leaderboard-blink;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    height: 95vh;
}

#leaderboard>ol {
    padding: 0;
    margin: auto;
    margin-top: 20px;
    width: 40%;
}

#leaderboard>h1 {
    width: 60%;
    min-width: 300px;
    padding: auto;
    margin: auto;
    margin-top: 20px;
    height: 42px;

    color: #ff7b00;
    text-align: center;
    vertical-align: text-bottom;
    font-family: "VT323", Sofia;
    font-size: 52px;
    font-weight: 900;
    animation-name: leaderboard-text-blink;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.leaderboard-entry {
    list-style-type: style;
    padding: 10px;
    margin: 5px;
    margin-top: 11px;
    height: 32px;
    box-shadow: inset 0 0 40px #e48d291c, 0 0 2px #e48c2957;
    border-radius: 9px;

    color: #e9b656d5;
    text-align: center;
    font-family: "VT323", Sofia;
    font-size: 22px;

}

@keyframes leaderboard-own-entry-blink {
    0% {
        color: #e48d29c5;
    }

    25% {
        color: #351c04;
    }

    50% {
        color: #e48d29c5;
    }

    75% {
        color: #351c04;
    }

    100% {
        color: #e48d29c5;
    }
}


.leaderboard-entry-own {
    box-shadow: inset 0 0 40px #e48d29c5, 0 0 2px #e48d29de;
    font-weight: 900;
    animation-name: leaderboard-own-entry-blink;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

.text-gameplay-info {
    color: #e4e4e4;
    font-family: monospace;
}